body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 500px;
  height: auto;
}

.title {
  display: flex;
  margin: 10px auto;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  background-color: aliceblue;
}

form input {
  display: flex;
  margin: 10px;
  padding: 5px;
}

form button {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100px;
  padding: 5px;
}